.link-btn {
  height: 1.85rem;
  padding: .5rem 1.25rem;
  font-size: .8rem;
  font-weight: 500;
  color: $color-red;
  text-decoration: none;
  text-transform: uppercase;
  background-color: $color-white;
  border: 2px solid $color-red;
  border-radius: 15px;
}
