$header-box-shadow1: rgba(0, 0, 0, .12) 0 1px 6px;
$header-box-shadow2: rgba(0, 0, 0, .12) 0 1px 4px;

.app-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  display: flex;
  width: 100%;
  color: $color-white;
  text-align: center;
  background-color: $color-blue;
  box-shadow: $header-box-shadow1, $header-box-shadow2;

  h1 {
    flex: 1 1;
    height: 4rem;
    padding: 0;
    margin: 0;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 64px;
  }
}
