@import '~foundation-sites/scss/util/util';

$item-box-shadow: rgba(0, 0, 0, .15);
$item-hovered-box-shadow: rgba(169, 173, 236, .2);

.articles-list {
  display: block;
  padding: 0 1rem;
  margin: 0 auto;

  @include breakpoint(large up) {
    width: 60rem;
  }


  .articles-sorting {
    margin-bottom: 1rem;

    a {
      font-size: .875rem;
      font-weight: 500;
      color: $color-dark-gray;
      text-transform: uppercase;
      cursor: pointer;
    }
  }

  .article-item {
    position: relative;
    padding: 1rem;
    margin-bottom: 1.5rem;
    font-weight: 300;
    background-color: $color-white;
    border-radius: .35rem;
    box-shadow: 0 1px 2px $item-box-shadow;
    transition: all .3s ease-in-out;

    .article-title {
      font-size: 1.125rem;
    }

    .article-details {
      margin-top: 2.25rem;
      margin-bottom: .75rem;


      .article-author {
        font-size: .875rem;
        font-weight: 400;
      }

      .article-date {
        margin-top: .25rem;
        font-size: .75rem;
        color: $color-dark-gray;
      }
    }

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      content: '';
      border-radius: 5px;
      box-shadow: 0 10px 60px $item-hovered-box-shadow;
      opacity: 0;
      transition: opacity .3s ease-in-out;
    }


    &:hover {
      &::after {
        opacity: 1;
      }
    }
  }
}
